.guides {
	padding: 75px 0;
}
/*---------------*/
.guides__flex {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
/*---------------*/
.guides__body {
	padding: 0 50px 0 0;
}
/*---------------*/
.guides__title {
	max-width: 450px;
	font-family: 'Playfair Display';
	font-weight: 700;
	font-size: 36px;
	line-height: 50px;
	margin: 0 0 20px 0;
}
.guides__text {
	max-width: 450px;
	margin: 0 0 35px 0;
	font-family: 'Mulish';
	font-weight: 300;
	font-size: 17px;
	line-height: 176.470588%; /* 30px/17 */
	color: #7D7987;
}
.guides__btn {
	line-height: 60px;
	text-align: center;
}
/*---------------*/
.guides__image {
}
/*---------------*/